<div class="card mt-5" style="width: 18rem;">
<img 
  class="card-img-top" 
  src="/image/icon.webp" 
  alt="Profile picture of {{user.name}}"
/>

  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-subtitle text-muted">{{user.email}}</p>
    <p class="card-text">{{user.phone}}</p>
    <a href="/" class="btn btn-primary mt-3">All Users</a>
  </div>
</div>
